<ion-view title="" id="riski" style="">
    <ion-content padding="true" class="has-header">


      <div class="spacer" style="width: 253px; height: 1px;"></div>
                  <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
                      <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
                  </div>

      <div class="card">
        <div class="item item-text-wrap">
          Biodata saya:
        <div class="item">

          <div class="row">
              <div class="col col-20 ">Nama</div>
              <div class="col col-5">:</div>
              <div class="col col-75"></div> <br>
          </div>
          <div class="row">
            <div class="col col-20">Prodi</div>
            <div class="col col-5">:</div>
            <div class="col col-75">Teknik Informatika</div>
          </div>
          <div class="row">
            <div class="col col-20">Nim</div>
            <div class="col col-5">:</div>
            <div class="col col-75"></div>
          </div>
          <div class="row">
            <div class="col col-20">Email</div>
            <div class="col col-5">:</div>
            <div class="col col-75"></div>
          </div>


        </div>
        </div>

      </div>





    </ion-content>
</ion-view>
